<div id="timeline" class="timeline-paralax" style="height:auto">
  <div id="experience" class="section no-pad-bot scrollspy">
    <div class="container">

      <h3 class="white-text">| Experiência</h3>
      <div class="timeline">

        <!-- ESTÁGIO COLLAB -->
        <div class="timeline-event">
          <div id="timeline_1" class="card timeline-content slide-left">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/collab.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><span class="timeline-content-title">Estágio Angular2</span>
              <i class="mdi mdi-dots-vertical right"></i>
              </span>
              <p><strong>03/2016 - 08/2016</strong> - Estagiei durante 5 meses na Collab</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Estágio Curricular<i class="material-icons right">close</i></span>
              <p class="indent">Abrangido pelo Programa de Introdução à Prática Profissional de Engenharia Informática, estagiei na Collab,
                empresa da Novabase especialista em Software para Call Centers, a desenvolver o <i>front-end</i> de um portal
                de gestão de licenças para clientes e funcionários.

              </p>
            </div>
          </div>
          <div class="timeline-badge red white-text">
            <i class="mdi mdi-briefcase" aria-hidden="true"></i>
            <div class="card timestamp">
              <p class="text-center">03/2016</p>
            </div>
          </div>
        </div>


        <!-- COORDENADOR IMAGEM -->
        <div class="timeline-event">
          <div id="timeline_2" class="card timeline-content slide-right">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/aefct.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><span class="timeline-content-title">Coordenador da Área de Imagem e Comunição</span>
              <i class="mdi mdi-dots-vertical right"></i>
              </span>
              <p><strong>01/2016 - presente</strong></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Coordenador da Área de Imagem e Comunição<i class="material-icons right">close</i></span>
              <p class="indent">
                Atualmente desempenho o cargo de Coordenador da Área de Imagem e Comunicação da Associação dos Estudantes da Faculdade
                de Ciências e Tecnologia.
              </p>
              <p class="indent">
                Para além das responsabilidades exercidas no ano passado, giro uma equipa de dois colaboradores e um vogal e entro em contacto
                com fornecedores.
              </p>
            </div>
          </div>
          <div class="timeline-badge green white-text">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <div class="card timestamp">
              <p class="text-center">01/2016</p>
            </div>
          </div>
        </div>
        <!-- VOGAL IMAGEM -->
        <div class="timeline-event">
          <div id="timeline_3" class="card timeline-content slide-left">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/aefct.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Vogal da Área de Imagem e Comunição<i class="mdi mdi-dots-vertical right"></i></span>
              <p><strong>01/2015 - 12/2015</strong></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Vogal da Área de Imagem e Comunição<i class="material-icons right">close</i></span>
              <p class="indent">
                Por já ter experiência em programas de manipulação de imagem, fui recrutado para a Direção da Associação dos Estudantes
                da FCT onde foi da minha responsabilidade o design de materiais de divulgação e logistística para eventos
                da Associação.
              </p>
              <p class="indent">
                Tive que desenvolver competências em Phototoshop, Illustrator, Cinema 4D e, eventualmente, tecnologias web.
              </p>
            </div>
          </div>
          <div class="timeline-badge green white-text">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <div class="card timestamp">
              <p class="text-center">01/2015</p>
            </div>
          </div>
        </div>
        <!-- MUDANCA PARA MIEI -->
        <div class="timeline-event">
          <div id="timeline_4" class="card timeline-content slide-right">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/miei.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Engenharia Informática<i class="mdi mdi-dots-vertical right"></i></span>
              <p><strong>03/2014</strong> - Mudei para Engenharia Informática na FCT NOVA</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Mudança para Engenharia Informática<i class="material-icons right">close</i></span>
              <p class="indent">
                Depois do primeiro contacto com programação em Engenharia Física, apercebi-me que me enquadraria melhor neste curso.
              </p>
            </div>
          </div>
          <div class="timeline-badge blue white-text">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <div class="card timestamp">
              <p class="text-center">03/2014</p>
            </div>
          </div>
        </div>
        <!-- Colaborador AEFCT -->
        <div class="timeline-event">
          <div id="timeline_5" class="card timeline-content slide-left">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="" src="assets/img/aefct.jpg">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Colaborador na AEFCT</span>
              <p><strong>01/2014</strong> - Juntei-me à Associação dos Estudantes como colaborador</p>
            </div>
          </div>
          <div class="timeline-badge green white-text">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <div class="card timestamp">
              <p class="text-center">01/2014</p>
            </div>
          </div>
        </div>
        <!-- ENTRADA EM MIEF -->
        <div class="timeline-event">
          <div id="timeline_6" class="card timeline-content slide-right">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/mief.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Engenharia Física<i class="mdi mdi-dots-vertical right"></i></span>
              <p><strong>09/2012</strong> - Frequentei Engenharia Física na FCT NOVA</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Engenharia Física<i class="material-icons right">close</i></span>
              <p class="indent">
                Por ter noção de que queria seguir uma profissão relacionada com Ciência, mas sem ter certezas, escolhi um curso mais
                abrangente que acabou por me alargar o horizonte para a informática.
              </p>
            </div>
          </div>
          <div class="timeline-badge blue white-text">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <div class="card timestamp">
              <p class="text-center">09/2012</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--<div class="parallax" style="z-index:-2;"><img class="blur" src="assets/img/hexes.jpg" alt="Unsplashed background img 1"></div>-->
</div>
