<div id="profile" class="container scrollspy">
  <div class="section profile-section">
    <div class="profile-card">
      <div class="row profile-body">
        <!--Profile Picture-->
        <div class="col s12 m4 l4">
          <img class="responsive-img" src="assets/img/profile.gif">
        </div>
        <!--PROFILE DESCRIPTION-->
        <div class="col s12 m8 l8">
          <div class="profile-header">
            <h4 style="margin-bottom:2px;">Pedro Lima e Silva</h4>
            <p class="grey-text" style="margin-top:2px;">
              <strong>Engenharia Informática FCT-NOVA</strong>
              <br> Web and Motion Designer for fun
            </p>
          </div>

          <div class="profile-header">
            <ul class="profile-list">
              <li class="clearfix">
                <strong class="title">Idade</strong>
                <span class="cont">22</span>
              </li>
              <li class="clearfix">
                <strong class="title">Residência</strong>
                <span class="cont">Lisboa</span>
              </li>
              <li class="clearfix">
                <strong class="title">E-mail</strong>
                <span class="cont"><a href="mailto:pedro@limaesilva.pt">pedro@limaesilva.pt</a></span>
              </li>
              <li class="clearfix">
                <strong class="title">Telefone</strong>
                <span class="cont">+351 918 565 699</span>
              </li>
              <li class="clearfix">
                <strong class="title">Disponibilidade</strong>
                <span class="cont">Envolvido em Projetos pela PrimeIT</span>
              </li>

            </ul>
          </div>

        </div>
      </div>
      <div id="profile-social">
        <a href="https://pt.linkedin.com/in/pedrolimaesilva"
          class="btn-floating
                 white btn-small
                 social
                 waves-effect
                 waves-dark
                 black-text
                 tooltipped"
          target="_blank"
          data-position="bottom"
          data-delay="50" data-tooltip="Linkedin">
          <i class="fa fa-linkedin-square fa-3" aria-hidden="true" style="color:#303030"></i>
        </a>
        <a class="btn-floating
                  white btn-small
                  social
                  waves-effect
                  waves-dark
                  black-text
                  tooltipped"
          target="_blank"
          data-position="bottom" data-delay="50"
          data-tooltip="Descarregar Curriculum"
          href="curriculae/cv.pdf">
          <i class="fa fa-download" aria-hidden="true" style="color:#303030"></i>
        </a>
      </div>
    </div>
  </div>
</div>
