<div class="container">
  <!-- Sobre mim -->
  <div class="section no-pad-bot">
    <div class="row">
      <!--  SOBRE MIM  -->
      <div id="about" class="col s12 m6 l6 slide-left scrollspy">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Sobre mim</span>
            <p class="indent">
              Estou a terminar a Licenciatura em Engenharia Informática na Faculdade de Ciências e Tecnologia da Universidade Nova de Lisboa.
            </p>
            <p class="indent">
              Sou apaixonado por interfaces com uma boa UX e gosto visual e pretendo prosseguir estudos e carreira profissional nessa área.
            </p>
            <p class="indent">
              Por causa de organizações em que me integrei na faculdade, tive de aprender skills de design gráfico e motion design que
              alimentaram a minha paixão por esta área.
            </p>
            <p class="indent">
              Estou constantemente disposto a aprender skills novas nestes ramos.
            </p>
          </div>
        </div>
      </div>
      <!--  INTERESSES  -->
      <div id="interests" class="col s12 m6 l6 slide-right scrollspy">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Interesses</span>
            <div class="center">
              <a class="btn-floating
                        btn-large
                        waves-effect
                        waves-light
                        interest
                        tooltipped" data-position="bottom" data-delay="50" data-tooltip="Web Development">
                  <i class="mdi mdi-unfold-more-vertical"></i>
              </a>
              <a class="btn-floating
                        btn-large
                        waves-effect
                        waves-light
                        interest
                        tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mobile Development">
                  <i class="mdi mdi-cellphone">stay_current_portrait</i>
              </a>
              <a class="btn-floating
                        btn-large
                        waves-effect
                        waves-light
                        interest
                        tooltipped" data-position="bottom" data-delay="50" data-tooltip="3D Graphics">
                  <i class="mdi mdi-cube-outline" aria-hidden="true"></i>
              </a>
              <a class="btn-floating
                        btn-large
                        waves-effect
                        waves-light
                        interest
                        tooltipped" data-position="bottom" data-delay="50" data-tooltip="Tech">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
              </a>
              <a class="btn-floating
                        btn-large
                        waves-effect
                        waves-light
                        interest
                        tooltipped" data-position="bottom" data-delay="50" data-tooltip="Game Development">
                  <i class="mdi mdi-google-controller"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
