<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" [src]="event.thumbnail">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><span class="timeline-content-title">{{event.title}}</span>
    <i class="mdi mdi-dots-vertical right" *ngIf="event.description != '' "></i>
    </span>
    <p><strong>{{event.start}} - {{event.end}}</strong></p>
    <p>{{event.short}}</p>
  </div>
  <div class="card-reveal" *ngIf="event.description != '' ">
    <span class="card-title grey-text text-darken-4">{{event.title}}<i class="mdi mdi-close right"></i></span>
    <p class="indent" [innerHTML]="event.description"></p>
  </div>
</div>
