<div class="container">
  <div id="skills" class="section scrollspy">
    <h3>| Habilitações</h3>
    <div class="row">

      <div id="skills_dev" class="col s12 m6 l6 slide-left">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Programação</span>
            <div class="center">
              <div class="progress-container">
                <p>
                  <span class="label-title">Angular2</span>
                  <span id="angular2-label" class="label-value right">10%</span>
                </p>
                <div class="my-progress-bar">
                  <div id="angular2" class="my-progress"></div>
                </div>
              </div>
              <div class="progress-container">
                <p>
                  <span class="label-title">Java</span>
                  <span id="java-label" class="label-value right">10%</span>
                </p>
                <div class="my-progress-bar">
                  <div id="java" class="my-progress"></div>
                </div>
              </div>
              <div class="progress-container">
                <p>
                  <span class="label-title">C</span>
                  <span id="c_programming-label" class="label-value right">10%</span>
                </p>
                <div class="my-progress-bar">
                  <div id="c_programming" class="my-progress"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="skills_design" class="col s12 m6 l6 slide-right">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Design</span>
            <div class="center">
              <div class="progress-container">
                <p>
                  <span class="label-title">Photoshop</span>
                  <span id="photoshop-label" class="label-value right">10%</span>
                </p>
                <div class="my-progress-bar">
                  <div id="photoshop" class="my-progress"></div>
                </div>
              </div>
              <div class="progress-container">
                <p>
                  <span class="label-title">Illustrator</span>
                  <span id="illustrator-label" class="label-value right">10%</span>
                </p>
                <div class="my-progress-bar">
                  <div id="illustrator" class="my-progress"></div>
                </div>
              </div>
              <div class="progress-container">
                <p>
                  <span class="label-title">Cinema 4D</span>
                  <span id="c4d-label" class="label-value right">10%</span>
                </p>
                <div class="my-progress-bar">
                  <div id="c4d" class="my-progress"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="skills_forlang" class="col s12 m6 l6 slide-left">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Línguas</span>
            <div class="center">
              <div class="progress-container">
                <p>
                  <span class="label-title">Português</span>
                  <span id="portuguese-label" class="label-value right">10%</span>
                </p>
                <div class="my-progress-bar">
                  <div id="portuguese" class="my-progress"></div>
                </div>
              </div>
              <div class="progress-container">
                <p>
                  <span class="label-title">Inglês</span>
                  <span id="english-label" class="label-value right">10%</span>
                </p>
                <div class="my-progress-bar">
                  <div id="english" class="my-progress"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="skills_soft" class="col s12 m6 l6 slide-right">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><i>Soft Skills</i></span>
            <div class="center">
              <div class="progress-container">
                <p>
                  <span class="label-title">Trabalho de Equipa</span>
                  <span id="teamwork-label" class="label-value right">10%</span>
                </p>
                <div class="my-progress-bar">
                  <div id="teamwork" class="my-progress"></div>
                </div>
              </div>
              <div class="progress-container">
                <p>
                  <span class="label-title">Sentido de Responsabilidade</span>
                  <span id="responsability-label" class="label-value right">10%</span>
                </p>
                <div class="my-progress-bar">
                  <div id="responsability" class="my-progress"></div>
                </div>
              </div>
              <div class="progress-container">
                <p>
                  <span class="label-title">Vontade de Aprender</span>
                  <span id="learning-label" class="label-value right">10%</span>
                </p>
                <div class="my-progress-bar">
                  <div id="learning" class="my-progress"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
